

img{

    width: 300px;
    height: 300px;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: inherit;

}

.img-fluid{
    top: 200px;
    position: relative;
       
}

.container{
    
    width:  100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family:'Roboto';     
    overflow:hidden;
    background: #000;
    overflow:hidden;
  }


.text{
    color: white;    
    letter-spacing: 1px;
    font-family:'Roboto';    
    font-weight:300;
    font-size:32px;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;   
}
.text:first-of-type {    /* For increasing performance 
    ID/Class should've been used. 
    For a small demo 
    it's okaish for now */
animation: showup 7s infinite;
}

.text:last-of-type {
width:0px;
animation: reveal 7s infinite;
}

span {
margin-left:-355px;
animation: slidein 7s infinite;
}

@keyframes showup {
0% {opacity:0;}
20% {opacity:1;}
80% {opacity:1;}
100% {opacity:0;}
}

@keyframes slidein {
0% { margin-left:-800px; }
20% { margin-left:-800px; }
35% { margin-left:0px; }
100% { margin-left:0px; }
}

@keyframes reveal {
0% {opacity:0;width:0px;}
20% {opacity:1;width:0px;}
30% {width:355px;}
80% {opacity:1;}
100% {opacity:0;width:355px;}
}



.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid #FFAD31;
    border-radius: 20px;
}

.loading .line-box .line{
    height: 20px;
    border-radius: 20px;
    background-color: #a05b00;
    animation: loading 2s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
                
    }
}